-----BEGIN EC PRIVATE KEY-----
MIHcAgEBBEIA17XQuqzYLS6oIZOIrha6qBkeF5zjaer4h4CUfnKM36VS8aZQ8x7v
Muo43gUWQWWdu4PjGGTvTQk3+BJKizGLTXKgBwYFK4EEACOhgYkDgYYABAGKtByt
N9Xyc5kPbJOKqHSCokKyExai234MFCGHIZlWEUiMhaBGkv5QsExOz9KdacoNwzQX
/tFjY6TAkj2SYVbDxwHDwEjTr8eiw4HFcCp0uSRQJq8CCED2C0o11WHpLZZotzI9
biwh5voXXKYSSjPfi8UoGM3RZlPf3APGAPefWzSKzQ==
-----END EC PRIVATE KEY-----
